.container {
    width: 600px;
    background-color: gainsboro;
    font-size: 25px;
    display: flex;
    flex-direction: column-reverse;

}

.box {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.box1 {
    background-color: tomato;
}

.box2 {
    background-color: blue;
}

.box3 {
    background-color: red;
}

.box4 {
    background-color: yellow;
}

.box5 {
    background-color: aqua;
}

.box6 {
    color: red;
    background-color: white;
}
