* {
    margin: 0;
    padding: 0;
}

.color {
    /*this attribute used for canage text color*/
    color: green;
    /* this attribute use change backgorund color*/

    background-color: orange;
}
